<!doctype html>
<html ng-app="main">
  <head ng-controller="BlogController as blog">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ blog.title }}</title>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="jumbotron-narrow.css" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body ng-controller="BlogController as blog">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">{{ blog.title }}</h3>
      </div>

      <div class="jumbotron">
        <h1>{{ blog.title }}</h1>
        <p class="lead">{{ blog.tagline }}</p>
      </div>

      <div class="posts">
      <div class="row" ng-repeat="post in blog.posts">
        <div class="col-lg-12">
          <h4>{{post.title}}</h4>
          {{post.body}}
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->

    <script data-main="app" src="requirejs/require.js"></script>
  </body>
</html>